[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
   url = git://github.com/tpope/vim-git.git
   ignore = untracked
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
   ignore = untracked
[submodule "vim/bundle/vim-nerdtree"]
	path = vim/bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
   ignore = untracked
[submodule "vim/bundle/vim-taglist"]
	path = vim/bundle/vim-taglist
	url = git://github.com/vim-scripts/taglist.vim.git
   ignore = untracked
[submodule "vim/bundle/vim-syntastic"]
	path = vim/bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
   ignore = untracked
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
   ignore = untracked
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/bundle/vim-slimux"]
	path = vim/bundle/vim-slimux
	url = https://github.com/epeli/slimux.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
