add_newline = false

[directory]
truncate_to_repo = true
fish_style_pwd_dir_length = 1

[lua]
detect_files = [".lua-version"]
detect_extensions = []

[python]
detect_files = ["requirements.txt", "pyproject.toml"]
detect_extensions = []

[java]
detect_extensions = []
detect_files = ["pom.xml", "build.gradle", "build.gradle.kts", ".java-version", "gradlew", "mvnw"]
detect_folders = []
