"$schema" = 'https://starship.rs/config-schema.json'
add_newline = false

format = """
[](color_orange)\
$os\
$username\
[](fg:color_orange bg:color_yellow)\
$directory\
[](fg:color_yellow bg:color_aqua)\
$git_branch\
$git_status\
[](fg:color_aqua bg:color_blue)\
$c\
$cpp\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:color_blue bg:color_bg3)\
$docker_context\
$conda\
$pixi\
$package\
[](fg:color_bg3 bg:color_bg1)\
$time\
[](fg:color_bg1)\
$fill\
$hostname\
$line_break$character"""

palette = 'dracula'

[palettes.dracula]
color_fg0    = '#f8f8f2'
color_bg1    = '#44475a'
color_bg3    = '#6272a4'
color_blue   = '#8be9fd'
color_aqua   = '#bd93f9'
color_green  = '#50fa7b'
color_orange = '#50fa7b'
color_purple = '#bd93f9'
color_red    = '#ff5555'
color_yellow = '#ff79c6'

[os]
disabled = false
style = "bg:color_orange fg:color_bg1"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = ""
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
AOSC = ""
Arch = "󰣇"
Artix = ""
EndeavourOS = "󰌽"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
Pop = ""

[username]
show_always = true
style_user = "bg:color_orange fg:color_bg1"
style_root = "bg:color_orange fg:color_bg1"
format = '[ $user ]($style)'

[directory]
style = "fg:color_bg1 bg:color_yellow"
format = "[  $path ]($style)"
truncation_length = 3
fish_style_pwd_dir_length = 1

[git_branch]
symbol = ""
style = "bg:color_aqua fg:color_bg1"
format = '[[ $symbol $branch ](fg:color_bg1 bg:color_aqua)]($style)'

[git_status]
style = "bg:color_aqua fg:color_bg1"
format = '[[($all_status$ahead_behind )](fg:color_bg1 bg:color_aqua)]($style)'
ignore_submodules = true
use_git_executable = true

[nodejs]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[c]
symbol = " "
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[cpp]
symbol = " "
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[rust]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[golang]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[php]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[java]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[kotlin]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[haskell]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_bg1 bg:color_blue)]($style)'

[python]
symbol = ""
style = "bg:color_blue"
pyenv_version_name = false
format = '[[ $symbol( $version)( \($virtualenv\)) ](fg:color_bg1 bg:color_blue)]($style)'

[docker_context]
symbol = ""
style = "bg:color_bg3"
format = '[[ $symbol( $context) ](fg:color_fg0 bg:color_bg3)]($style)'

[conda]
style = "bg:color_bg3"
format = '[[ $symbol( $environment) ](fg:color_fg0 bg:color_bg3)]($style)'

[pixi]
style = "bg:color_bg3"
format = '[[ $symbol( $version)( $environment) ](fg:color_fg0 bg:color_bg3)]($style)'

[package]
style = "bg:color_bg3"
format = '[[  $version ](fg:color_fg0 bg:color_bg3)]($style)'

[time]
disabled = false
time_format = "%R"
style = "bg:color_bg1"
format = '[[  $time ](fg:color_fg0 bg:color_bg1)]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[❯](bold fg:color_green)'
error_symbol = '[❯](bold fg:color_red)'
vimcmd_symbol = '[❯](bold fg:color_green)'
vimcmd_replace_one_symbol = '[❯](bold fg:color_purple)'
vimcmd_replace_symbol = '[❯](bold fg:color_purple)'
vimcmd_visual_symbol = '[❯](bold fg:color_yellow)'

[fill]
symbol = " "

[hostname]
ssh_only = true
style = "bg:color_red fg:color_fg0"
format = "[](fg:color_red)[  $hostname ](bg:color_red fg:color_fg0)[](fg:color_red)"
